.header {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: flex-end;
}

nav li {
    list-style-type: none;
}

nav a {
    padding: 5px;
}
